/* Filename: style.css */

body {
    background: #09092F;
}

#AllPage {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin: auto;
    width: 1400px;
    top: 0px;
    right: 0px;
    background-color: #040814;
    box-sizing: border-box;
}

/* Columns control: */
* {box-sizing: border-box;}
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For mobile phones: */
[class*="col-"] {
    float: left;
    padding: 15px;
}
/* For tablets: */
@media only screen and (min-width: 600px) {
    .col-s-1  {width: 8.33%;}
    .col-s-2  {width: 16.66%;}
    .col-s-3  {width: 25%;}
    .col-s-4  {width: 33.33%;}
    .col-s-5  {width: 41.66%;}
    .col-s-6  {width: 50%;}
    .col-s-7  {width: 58.33%;}
    .col-s-8  {width: 66.66%;}
    .col-s-9  {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

#Banner {
    width: 1400px; 
    height: 100px; 
    max-width:100%; 
    position: absolute;
    top: 15px;
    z-index: 1;
    text-align: right;
    background: #040814;
    position: center;
    border-radius: 10px;
    vertical-align: text-bottom;
    box-sizing: border-box;
}
#Menu {
    width: 1400px;
    height: 60px;
    max-width:100%;
    position: absolute;
    top: 120px;
    z-index: 2;
    text-align: right;
    background-color: #040814;
    position: center;
    border-radius: 10px;
    vertical-align: middle;
    box-sizing: border-box;
}
#Content {
    width: 1400px;
    height: 610px;
    max-width:100%;
    position: absolute;
    top: 120px;
    z-index: 2;
    text-align: center;
    background-color: #040814;
    position: center;
    border-radius: 10px;
    vertical-align: central;
    overflow: auto;
    box-sizing: border-box;
}
#Gallery {
    width: 1400px;
    height: 540px;
    max-width: 100%;
    position: absolute;
    top: 185px;
    z-index: 2;
    text-align: center;
    background-color: #040814;
    position: center;
    border-radius: 10px;
    vertical-align: middle;
    overflow: auto;
    box-sizing: border-box;
}
#Photos > img {
    max-width: 100%;
    height: 200px;
    width: auto;
    padding: 10px 0px 0px 10px;
    margin: 10px 0px 0px 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.logo {
    margin-top: -16px;
    margin-left: -64px;
    float: left;
    box-sizing: border-box;
}

.menu a {
    margin-top: 50px;
    margin-left: 1px;
    text-align: right;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    padding: 2px;
    text-decoration: none;
}
    .menu a:hover {
        color: #0B3D91;
    }

.search {
    background-color: #FFFFFF;
    border: none;
    color: #040814;
    padding: 14px 28px;
    width: auto;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;
    margin: 2px;
}
.button {
    background-color: #FFFFFF;
    border: none;
    color: #040814;
    padding: 14px 14px;
    width: auto;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 8px;
    margin: 2px;
}

form {
    margin-top: -5px;
    margin-left: 10px;
}

content h3 {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    text-decoration: none;
}
content h4 {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}
content p {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}
content img {
    float: none;
    padding: 25px 20px 25px 20px;  
    margin: 25px 20px 25px 20px;
    box-sizing: border-box;
}
.copyright p {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: x-small;
    padding: 2px;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}